<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
    <body>
        {{ partial "header.html" . }}
        <div id="content">
        {{ block "main" .}}{{- end }}
        </div>
        {{ partial "footer" .}}
    </body>
</html>
