{{ partial "head" . }}

<body onload="addActive()">
  <div class="container">
    <div class="contentBody">
      <main>

        {{ range .Pages}}
        <div>
          <br>
          <a class="postListItemLink" href="{{.Permalink}}">{{.Title}}</a>
          <p class="postDate">{{ .PublishDate.Format "2 January, 2006" }}</p>
          <p>{{.Summary}}</p>
        </div>
        <div class="postDivider"></div><br>
        {{ end }}

      </main>
    </div>
  </div>
</body>