{{ partial "head" .}}

<body onload="addActive()">
  <div class="container">
    <div class="contentBody">
      <h2>{{ .Title }}</h2>
      <h3>{{ .Content }}</h3>
    </div>
  </div>
</body>

{{ partial "footer" .}}