<footer>
  <h5>
    All opinions and thoughts in these posts are my own and do not represent the views of any of my employers or
    co-workers past, present or future. All text content on this page is licensed under a <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0 License</a>.
  </h5>
</footer>