<div class="sticky">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=0.66" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" href="/style.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <title>{{ .Site.Title}}</title>
    {{ partial "nav" .}}
    <script>
      /**
    * VERY simple JS that adds the currentlyActive css class to the button that is 
    * currently active. Shows you how much JS I know :) 
    */

      function addActive() {
        // get current URL
        var currentPage = document.URL;

        // get the URLs in the nav element and the hrefs for each of the two buttons  
        var navBar = document.querySelector("nav");
        let homePageUrl = navBar.children[0]["href"];
        let postsPageUrl = navBar.children[1]["href"];

        // if the current url length is greater than the posts page then it means
        // the user is inside one of the posts
        if (currentPage.length >= postsPageUrl.length) {
          navBar.children[1].classList.add("currentlyActive");
        }
        // otherwise, if the current page url length is equal to the homepage
        // then the user is on the homepage
        else if (currentPage.length == homePageUrl.length) {
          navBar.children[0].classList.add("currentlyActive");
        }
      }
    </script>
    <div class="divider"></div>
  </head>
</div>