{{ partial "head" .}}

<body onload="addActive()">
  <div class="container">
    <div class="contentBody">
      <h2>404 - Page not found.</h2>
      <h3>Please click on <a href="/">Home</a> or <a href="/posts">Posts</a> to go back to browsing the page.</h3>
    </div>
  </div>
</body>