* {
  background-color: #1A1A1A;
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

.sticky {
  position: sticky;
  top: 0
}

html {
  overflow-y: scroll;
  margin: -8px auto;
  padding: 0 21px;
  max-width: 700px;
  color: #EEE;
}

nav a {
  text-decoration: none;
  font-size: xx-large;
  font-family: var(--sans-font);
  font-weight: 400;
  color: #F44;
  padding-right: 1em
}

a {
  color: #88F;
  text-decoration: none;
}

.divider {
  max-width: 700px;
  border: 2px solid #EEE
}

.postDivider {
  margin: 0 auto;
  max-width: 700px;
  border: 1px solid #D00
}

h2 {
  color: #EEE;
  font-weight: 400
}

h3 {
  font-weight: 400;
  color: #E44;
  margin-top: 2em
}

h5 {
  text-align: center;
  font-size: small;
  font-style: italic;
  color: #E44;
  font-family: var(--sans-font);
  font-weight: 200
}

blockquote {
  font-size: small;
  color: #EEE;
  font-style: italic
}

.container {
  padding: .5em;
  margin: 2px;
  line-height: 1.5
}

.contentBody {
  font-family: var(--sans-font);
  font-size: large;
  padding-top: 1em;
  overflow-wrap: break-word;
  line-height: 1.7
}

.contentBody h2 {
  padding: 0;
  margin-bottom: -.75em
}

.postListItemLink {
  text-decoration: none;
  color: #E44;
  font-size: x-large;
  font-weight: 400;
}

.postDate {
  font-size: small;
  font-style: italic;
  color: #E22
}

pre {
  overflow-x: scroll;
  font-size: medium;
  font-family: var(--mono-font);
  color: #EEE;
  background-color: #272822;
}

img {
  padding-top: 1em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 90%
}

.currentlyActive {
  color: #EEE
}

code {
  padding: 0.25em;
  font-size: large;  
}

@media screen and (min-width:970px) {
  html {
    overflow-y: scroll;
    margin: -8px auto;
    padding: 0 21px;
    max-width: 950px
  }

  .divider {
    max-width: 950px;
    border: 2px solid #444
  }

  .postDivider {
    margin: 0 auto;
    max-width: 950px;
    border: 1px solid #D004
  }
}